Does not properly close the underlying TCP connection if the other side initiates the close handshake

[RFC 6455 § 5.5.1](https://www.rfc-editor.org/rfc/rfc6455.html#section-5.5.1) says:

> After both sending and receiving a Close message, an endpoint considers the WebSocket connection closed and MUST close the underlying TCP connection.  The server MUST close the underlying TCP connection immediately; the client SHOULD wait for the server to close the connection but MAY close the connection at any time after sending and receiving a Close message, e.g., if it has not received a TCP Close from the server in a reasonable time period.

However, if the remote initiates the close handshake, this library fails to close the TCP sockets. The issue is here:

https://github.com/tonyg/racket-rfc6455/blob/abdf0099c6930986a4ea9f352b9fb34ba73afea5/net/rfc6455/rfc6455/conn.rkt#L67-L76

While `rfc6455-close!` explicitly closes the input and output ports, this code path does not, so they are never closed.